
#textBox {
    background-color: transparent;
	border: 1px dotted transparent;
	color: #278e29;
	font-size: 30;
	height:45px;
	width: 40px;
	resize: none;
}

textarea:focus{
    outline: none;
}

#userBox{
	font-size: 30;
    height:90px;
	width: 400px;
    background-color: gray;
	color: red;
	opacity: 1;
	margin-top: auto;
}

.controlrow {
	position:absolute;
	display:flex;
}

.bottompanel {
	position: absolute;
	display:flex;
	flex-direction:column nowrap;
	bottom:10%;
}

.panelitem {
	display: flex;
	margin-top: auto;
}